<div class="header">
    <div class="brand">Pokémon SDK Wiki</div>
    <ul class="site_links">
        <li><a href="en/index.html">Home</a></li>
        <li>
            <details class="dropdown">
                <summary>Tutorials</summary>
                <div>
                    <a href="en/event_making/index.html">Event Making</a>
                    <a href="en/ruby_host/index.html">Database Edition</a>
                    <a href="en/tiled/index.html">Tiled</a>
                </div>
            </details>
        </li>
        <li>
            <details class="dropdown">
                <summary>Manage</summary>
                <div>
                    <a href="en/manage/install.html">Install PSDK</a>
                    <a href="en/manage/configure.html">Configure PSDK</a>
                    <a href="en/manage/install-script.html">Install a Script</a>
                </div>
            </details>
        </li>
        <li>
            <details class="dropdown">
                <summary>Programming</summary>
                <div>
                    <a href="en/programming/index.html">About</a>
                    <a href="en/programming/hdiw/index.html">How does it work?</a>
                    <a href="en/programming/hdiw/ui.html">PSDK UI System</a>
                </div>
            </details>
        </li>
    </ul>
    <div class="credits"><a href="en/./credits.md">Credits</a></div>
</div>